<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/task.css">
    <title>tasks</title>
</head>
<body>
  <div class="container">
  <h1>Task reminder system</h1>
  <div class="tasks">
   <input type="text" placeholder="mention your tasks">
  </div>
  </div>
</body>
</html>